.footers{
    margin-top: 40px;
    background-color: #F8F5FF;
    width: 100%;
    height: 230px;
    position: relative;
   
    
}
.footers-display{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.footers-display ul li{
    list-style: none;
    margin-top: 10px;
}
.footers-display h3{
    border-bottom: 2px solid orange;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .footers{
    background-color: #F8F5FF;
    width: 100%;
    height: 200px;
    position: relative; 
    margin-top: 10px;
}
.footers-display{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footers-display ul li{
    list-style: none;
    font-size: 10px;
}

.footers-display h3{
    border-bottom: 1px solid orange;
    font-size: 14px;
}
}
